@import "https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css";
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "rawline","Helvetica Neue","Open Sans";
  background-color: white; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  font-weight: 400; }

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
  decoration: none; }

button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  letter-spacing: 2px; }

button:focus {
  outline: 0; }

input {
  outline: 0px;
  border: 0px;
  box-shadow: 0px; }

.container-fluid {
  padding: 0px; }

.row {
  margin: 0px; }

.col-sm-2 {
  padding: 0px; }

.col-sm-12, .col-sm-6 {
  padding: 0px;
  background-color: #fffcf9; }

.buttons {
  width: 100%; }

.btn-cont {
  display: inline-block;
  width: 50%; }

.main-btn, .main-btn:visited {
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid white;
  transition: all 0.25s linear;
  letter-spacing: 2px;
  vertical-align: center; }

.section-title {
  font-size: 36px;
  color: black;
  padding-bottom: 20px;
  padding-left: 20px;
  font-weight: 400; }

.home-p {
  font-size: 20px; }

.news-img {
  display: inline-block; }

.news-title {
  color: black;
  display: inline-block;
  font-size: 20px;
  font-weight: bold; }

.news-div {
  margin: auto;
  display: flex;
  align-items: center;
  padding: 20px;
  padding-left: 0px;
  margin-left: 20px;
  height: 68px; }

.news-div a {
  display: inline;
  color: #047706;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 900; }

.news-div a:hover {
  text-decoration: underline; }

#view-all-news {
  margin: 0px;
  padding-left: 20px; }

.review-div {
  vertical-align: text-top;
  padding: 15px;
  display: inline-block;
  width: 25%;
  color: #fffcf9;
  padding-bottom: 8px;
  padding-top: 5px; }

.quote {
  display: block;
  text-align: justifyf;
  font-style: italic;
  font-size: 20px;
  font-family: "Playfair Display"; }

.author {
  padding-top: 5px;
  display: block;
  text-align: right;
  font-size: 20px;
  font-weight: 600; }

.tint-div {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-duration: .75s;
  animation-fill-mode: both;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/students.jpg"); }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.tint-div-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all .25s linear;
  z-index: 1;
  display: none;
  align-items: center;
  text-align: center;
  border-radius: 5px; }

.tint-div-img:hover {
  opacity: 1;
  cursor: pointer; }

#images-container {
  margin: auto;
  margin-top: 25px;
  width: 90%;
  border-radius: 5px; }

#image-row {
  background-color: #1a4f2a;
  background-image: url("images/binding-dark.png");
  padding: 75px;
  padding-left: 125px;
  padding-right: 125px; }

.class-cont {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  transition: all .1s linear;
  box-shadow: 0 2px 4px 0 rgba(11, 58, 132, 0.2), 0 2px 5px 0 rgba(11, 58, 132, 0.2); }

.class-cont:hover {
  box-shadow: 0 10px 16px 0 rgba(11, 58, 132, 0.2), 0 6px 20px 0 rgba(11, 58, 132, 0.2); }

.image-cont {
  position: relative;
  width: 100%;
  height: 300px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.image-desc {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway";
  width: 100%;
  height: 60px;
  font-size: 30px;
  color: #fffcf9;
  padding: 25px;
  margin: auto;
  text-transform: uppercase;
  background-color: rgba(26, 79, 42, 0.75); }

#summer-image-desc {
  background-image: url("images/binding-dark.png"); }

#fall-image-desc {
  background-image: url("images/binding-dark.png"); }

#spring-image-desc {
  background-image: url("images/binding-dark.png"); }

#online-image-desc {
  background-image: url("images/binding-dark.png"); }

#image-1 {
  background-image: url("images/group.jpg"); }

#image-2 {
  background-image: url("images/class.jpg"); }

#image-3 {
  background-image: url("images/class2.jpg"); }

#image-4 {
  background-image: url("images/highschool.jpg"); }

#reviews-title {
  font-family: "Raleway";
  text-decoration: none;
  font-size: 36px;
  font-weight: 400;
  color: #fffcf9;
  padding: 0px;
  padding-bottom: 50px; }

#about-row {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px; }

#about-row-2 {
  text-align: center;
  padding-top: 75px; }

.about-row-3 {
  padding: 25px;
  padding-top: 75px;
  padding-bottom: 75px;
  vertical-align: top; }

.about-row-3 p {
  font-size: 20px;
  text-align: center;
  margin-top: 25px; }

.about-p-container {
  display: inline-block;
  width: 60%;
  max-width: 1000px;
  margin-top: 50px;
  padding-left: 25px;
  padding-right: 50px; }

#about-whitespace {
  width: 10%;
  display: inline-block; }

.about-container {
  display: inline-block;
  margin: auto; }

.portrait-img-container {
  display: inline-block;
  width: 30%;
  vertical-align: top; }

.portrait-img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  object-position: center center;
  /*box-shadow:0 5px 8px 0 rgba(11, 58, 132,0.2),0 3px 10px 0 rgba(11, 58, 132,0.2);
  */
  border: 5px double #1a4f2a;
  display: inline-block;
  margin-left: 20px; }

.about-row-4 {
  padding-bottom: 50px; }

.about-row-4 p {
  width: 65%;
  font-size: 20px;
  text-align: center;
  margin: auto;
  margin-top: 25px;
  padding-bottom: 75px; }

.small-section-title {
  text-align: center;
  font-size: 26px; }

#about-title, #classes-title {
  padding: 0px;
  padding-bottom: 50px;
  text-decoration: none;
  text-align: center;
  font-size: 36px; }

#about-p {
  display: block;
  width: 80%;
  font-size: 22px;
  color: black;
  margin: auto; }

#online-p {
  width: 100%;
  padding-top: 25px;
  text-align: center;
  font-size: 18px;
  font-weight: 500; }

#online-title-2 {
  padding-bottom: 75px; }

#classes-row {
  text-align: center;
  padding: 20px;
  padding-bottom: 75px;
  padding-top: 75px; }

#contact-row {
  background-color: #1a4f2a;
  background-image: url("images/binding-dark.png");
  color: #fffcf9;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px; }

#contact-p {
  margin: 0px;
  padding: 20px;
  font-size: 18px;
  font-weight: 500; }

#copyright-p {
  color: white;
  font-size: 14px;
  color: #fffcf9; }

#contact-row a {
  font-size: 14px;
  color: #fffcf9;
  text-decoration: underline; }

#contact-row a:hover {
  font-weight: bold; }

#apply-link {
  float: right;
  color: white;
  font-size: 18px;
  padding: 12px;
  border: 2px solid white;
  border-radius: 3px;
  font-weight: 600;
  transition: all .3s linear; }

#apply-link:hover {
  text-decoration: underline; }

#apply-now-arrows {
  font-size: 16px;
  transition: dropdown-transition; }

#home-popout {
  background: rgba(26, 79, 42, 0.75);
  color: #fffcf9;
  text-shadow: 1px 1px #1a4f2a;
  width: 400px;
  margin-left: 50px;
  padding: 30px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25); }

#home-popout-title {
  padding-bottom: 15px; }

#home-popout-p {
  font-size: 18px; }

#what-is-div {
  padding-top: 75px;
  padding-bottom: 75px; }

#reviews-div {
  padding-top: 75px; }

#news-event-container {
  text-align: center;
  margin: auto;
  padding: 25px;
  padding-top: 0px;
  padding-bottom: 0px; }

#news-container {
  display: inline-block;
  text-align: left;
  padding-right: 50px;
  padding-left: 50px; }

#event-container {
  display: inline-block;
  text-align: left;
  padding-right: 50px;
  padding-left: 50px; }

#home-row {
  height: 600px;
  width: 100%; }

#home-quote {
  display: none;
  margin: auto;
  color: white;
  font-size: 24px;
  padding: 25px;
  opacity: 0;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  text-shadow: 1px 1px #1a4f2a;
  padding-left: 75px;
  padding-right: 75px;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-delay: .5s;
  animation-duration: 1s;
  animation-fill-mode: both; }

#home-quote-title {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: bold;
  font-family: "Cabin";
  padding: 10px;
  padding-bottom: 20px;
  margin: 0px; }

#home-quote-subtitle {
  font-size: 32px; }

#login-div {
  padding-left: 25px; }

#login-link, #sign-up-link {
  color: #047706;
  display: block;
  padding: 5px;
  font-weight: 500;
  font-size: 16px; }

#login-link:hover, #sign-up-link:hover {
  cursor: pointer;
  text-decoration: underline; }

#header-nav {
  width: 100%;
  height: 90px;
  z-index: 2;
  background-color: #fffcf9;
  	 /*border-bottom-width:5px;
  	 border-bottom-color: $dark-green;
  	 border-bottom-style: double;
  	 box-shadow:0 5px 8px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.2);
  */ }

#tab-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  float: right;
  height: 100%;
  width: 100%;
  position: relative;
  padding-right: 4%; }

.tab-link, .dropdown {
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 100%;
  font-size: 18px;
  color: #1a4f2a;
  margin-right: 5px;
  padding-right: 5px;
  padding-left: 5px; }

.tab-link:hover, .dropdown:hover, .dropdown:active, .tab-link:active, .dropdown:active, .tab-link:visited, .dropdown:visited {
  text-decoration: none; }

.tab-link:hover, .dropdown:hover, .dropdown:active, .tab-link:active, .dropdown:active {
  background-color: rgba(26, 79, 42, 0.98);
  color: #fffcf9;
  cursor: pointer; }

.dropdown {
  position: relative; }

.dropdown a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit; }

.dropdown h4, .tab-link h4, .dropdown h4 {
  font-weight: 500;
  font-size: 18px; }

.dropdown-content {
  box-shadow: 0 5px 8px 0 rgba(11, 58, 132, 0.2), 0 3px 10px 0 rgba(11, 58, 132, 0.2);
  background-color: rgba(26, 79, 42, 0.75);
  color: #fffcf9;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 137.5px;
  max-height: 0px;
  transition: all .2s linear;
  z-index: 1;
  text-align: left; }

.dropdown:hover .dropdown-content {
  max-height: 200px; }

.dropdown-content a {
  font-weight: 600;
  display: block;
  text-decoration: none;
  color: #fffcf9;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  font-size: 17px; }

.dropdown-content a:hover {
  background-color: #1a4f2a; }

#contact-tab {
  background-color: #fffcf9;
  color: #2d5c9b;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px; }

.active {
  background-color: #1a4f2a;
  background-image: url("images/binding-dark.png");
  color: #fffcf9; }

#logo-nav {
  display: flex;
  align-items: center;
  float: left;
  height: 100%;
  width: 10%; }

#logo {
  position: absolute;
  top: 5px;
  left: 20px;
  color: #1a4f2a;
  font-weight: 700;
  padding: 20px;
  font-weight: bold; }

#logo-text {
  padding-left: 5px;
  margin: 0px;
  font-weight: 500; }

#contact-info-row {
  padding: 75px; }

.contact-info-div {
  color: black;
  display: inline-block;
  margin-left: -50px;
  text-align: left;
  font-size: 20px;
  padding: 25px;
  padding-bottom: 50px; }

#contact-info-div-2 {
  margin-left: 90px;
  padding-bottom: 0px; }

.contact-info-div h4 {
  display: inline;
  font-size: 22px;
  font-weight: 500; }

.contact-title {
  font-size: 34px; }

.faq-link {
  text-decoration: underline;
  color: #047706; }

.faq-link:hover {
  text-decoration: underline;
  color: #047706;
  text-shadow: 0px 0px 1px #047706; }

#faq-row, #online-row, #description-row {
  padding-top: 75px;
  padding-bottom: 75px; }

#faq-title {
  padding-bottom: 50px; }

#faq-p, #description-p {
  padding-bottom: 50px;
  display: block;
  width: 80%;
  font-weight: 400;
  font-size: 22px;
  color: black;
  margin: auto; }

#description-p {
  padding-top: 25px; }

.answer {
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
  width: 80%;
  font-size: 22px;
  color: black;
  margin: auto; }

.course-name {
  text-decoration: underline;
  text-align: left; }

.question, .course-name {
  display: block;
  width: 80%;
  font-size: 22px;
  color: black;
  margin: auto;
  color: #047706; }

#retrieve-password-row {
  padding: 75px; }

.retrieve-password-form {
  margin: 0px;
  text-align: right;
  display: inline-block;
  margin: auto; }

#register-password-form {
  padding-right: 100px; }

.retrieve-password-form input {
  border: 1px solid #1a4f2a;
  font-size: 18px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: top; }

.retrieve-password-form label {
  font-size: 18px;
  margin: 0px;
  font-weight: 500;
  padding: 10px;
  vertical-align: text-top; }

#login-row {
  padding: 25px;
  padding-top: 50px;
  padding-bottom: 50px; }

#submit-container {
  margin-left: 30px;
  margin-top: 25px; }

#submit-container-2 {
  margin-left: 140px;
  margin-top: 25px; }

#submit {
  display: block;
  margin: auto;
  font-weight: 500;
  font-size: 20px;
  margin-top: 15px;
  	/*
  	background-color: $lighter-dark-green;
  	color: white;
  	border-width: 0px;
  	padding:5px;
  	padding-left:10px;
  	padding-right: 10px;
  box-shadow:0 1px 2px 0 rgba(11, 58, 132,0.2),0 1px 2px 0 rgba(11, 58, 132,0.2);
  */ }

.form-container {
  display: inline-block;
  margin: auto;
  margin-top: 30px; }

.form-container p {
  padding-bottom: 25px;
  font-size: 16px;
  font-weight: 500; }

#classes-desc-row {
  padding: 50px;
  text-align: center;
  padding-bottom: 75px; }

.classes-table {
  display: table;
  margin: 0 auto;
  margin-top: 25px;
  font-weight: 500; }

.classes-table caption {
  text-align: center;
  color: black;
  padding-bottom: 25px;
  margin-top: 10px;
  font-size: 20px; }

.table-title {
  display: block;
  font-size: 22px;
  text-decoration: underline; }

.table-subtitle {
  display: block;
  font-size: 18px;
  margin-top: 15px;
  padding-left: 100px;
  padding-right: 100px; }

.classes-table td, th {
  padding: 10px;
  max-width: 250px;
  border-bottom: 1px solid #ddd; }

.faq-table caption {
  margin-bottom: 10px; }

.faq-table td, th {
  max-width: 500px; }

.faq-table {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px; }

tr:last-child td {
  border-bottom-width: 0px; }

.classes-table a {
  color: #047706; }

.classes-table a:hover {
  text-decoration: underline; }

.course-descrip {
  padding-left: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
  width: 80%;
  font-size: 22px;
  color: black;
  margin: auto;
  text-align: left; }

#staff-row {
  padding-top: 75px;
  padding-bottom: 75px; }

.staff-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px; }

.staff-container img {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 5px solid #1a4f2a; }

.staff-desc {
  width: 700px;
  font-size: 18px;
  display: inline-block;
  text-align: left;
  margin-left: 50px; }

.staff-desc h4 {
  text-align: left;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 22px;
  text-decoration: underline; }

/*# sourceMappingURL=base.css.map */
